/* colour pallete */
:root {
    --turquoise: #557976;
    --flower: #E3A68C;
    --amber: #CC6A46;
    --white: #ffffff;
 
}

/* global styles */
* { 
    font-family: 'Inter Tight', sans-serif;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
} 

/* header, inclusive of nav bar */
header {
    background-color: var(--flower);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--flower);
    padding: 1rem;
 }

 nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--white);
 }

input[type="checkbox"] {
    appearance: none;
}

label {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}






/* .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-list li {
    padding-left: 2rem;
    text-decoration: none;
    color: var(--amber);
    font-weight: bold;
} */

/* header styles */
h1 {
    font-size: 3.5rem;
    font-family: 'Bodoni Moda', serif;

}

h2 {
    font-size: 2.5rem;
    font-family: 'Unna', serif;
}

h3 {
    font-size: 2rem;
}

/* hero section, with image, text and button*/
.hero-image {
    /* margin-top: 5rem; */
    padding: 4rem;
    background-image: url(../images/scott-webb-R5fIqR8nPu0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    text-align: center;
    line-height: 1.2;
    ;
}

button {
    margin-top: 3rem;
    cursor: pointer;
    border: 0.5rem;
    border-radius: 1rem;
    border-color: #6aa8a3;
    padding: 0.5rem 1rem;
    font-family: ;
    font-weight: 200;
    font-size: ;
    color: var(--white);
    background-color: var(--turquoise);
    box-shadow: 0 1.25rem 1rem -1rem #6aa8a3;
}

button:hover {
    box-shadow: inset 0px 0px 8px var(--flower), 0 0 15px var(--flower);
    background-color: var(--amber);
}

/* general design */
body {
    font-size: 1em;
    font-family: 'Inter Tight', sans-serif;
}

main {
    margin: 50px;
}

.about {
    margin-top: 3rem;
    text-align: center;
}

.fancy {
    font-size: 1.2rem;
    font-family: 'Unna', serif;
    font-style: italic;
    margin-top: 1rem;
}

/* functional */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.even-columns {
    display: flex;
    flex-direction: row;
}

.main-proj {

}

.other-proj {
    display: flex;
}

/* media queries */

/* nav bar */














 /* --ff-primary: 'Inter Tight', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 

    @media (min-width: 50em) {
        :root {
            --fs-300:
        }
    } */

    /* --rust: #943f1ed5;
    --terracotta: #EDC2A5;
    --oatmeal: #ffffff;
    --ocean: #45535a; */