/* colour pallete */
:root {
    --rust: #c27047d0;
    --terracotta: #EDC2A5;
    --oatmeal: #F6F4EE;
    --ocean: #78909C;
}

/* universal selectors */
* {
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 5rem;
    width: 100%;
    border: 5px solid var(--rust)

}
